.Card {
  position: relative;
  background: #37474f;
  height: auto;
  padding: 1em 2em;
  margin: 1em 2em;
  border-radius: 8px;
}

.Card > header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 1em;
}

.Card button {
  margin-left: auto;
}
